body {
    background-color: #4e31ee;
    color: white;
    font-family: "DM Serif Text", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #aca2e6;
    color: white;
    font-family: "DM Serif Text", serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}